
			<h4>Featured innovation</h4>
				<div class="wrapper">
					<div class="iosSlider">
						<div class="slider">
							<a href="/innovation/page{% if logState ==  'logged' %}?logState=logged{% endif %}" class="item">
								<img src="assets/img/visuals/home_slider/bubbles.jpg">
								<h3>Australia speechbubble</h3>
								<p>Australia's speechbubble provides an online forum for staff and the service users to provide direct feedback on government initiatives and help re-design public services.</p>
							</a>
							<a href="/innovation/page{% if logState ==  'logged' %}?logState=logged{% endif %}" class="item">
								<img src="assets/img/visuals/home_slider/nwow.png">
								<h3>Belgium new way of working</h3>
								<p>Belgium’s New Way of Working targets the challenges of finding and retaining the right staff and making the workforce happy by giving staff direct control over when, where and how they work</p>
							</a>
							<a href="/innovation/page{% if logState ==  'logged' %}?logState=logged{% endif %}" class="item">
								<img src="assets/img/visuals/home_slider/sMexico.png">
								<h3>Mexico, Financial Inclusion Project</h3>
								<p>Mexico's Financial Inclusion Project partners with local gas stations, telecommunications offices and community-owned stores to provide banking and social welfare payments in remote rural areas with no existing banking infrastructure.</p>
							</a>
						</div>
					</div>
					<div class = 'selectorsBlock'>
					
						<div class = 'selectors'>
							<div class = 'item first selected'>1</div>
							<div class = 'item'>2</div>
							<div class = 'item'>3</div>
							<!-- <div class = 'item'>4</div> -->
						</div>
						
					</div>
				</div>