
			<div id="innovation-list">
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Next Step Online Community</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Australia</span> | <span class="">Online tools</span> </p>
					<p class="abstract">The Next Step online community is an invitation only closed community for customers who are transitioning from Parenting Payment to Newstart Allowance.</p>
					<p class="tag-list"><span>Social Protection</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>

				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Establishment of children’s day care centres</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Mexico</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Privately operated children’s day care centres have been established to provide childcare for single parents not covered by social security assistance while they are at work or while they search for new employment opportunities.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>

				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
				
				<div class="innovation-card clearfix">
					<h5 class="title"><a href="/innovation/page">Innovation Title</a></h5>
					<a class="add-to-compare-list btn btn-mini" href="#" title="Add to compare list">Add to Compare</a>
					<p class="infos"><span class="">Country</span> | <span class="">innovation Type</span> </p>
					<p class="abstract">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<p class="tag-list"><span>tag 1</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
				</div>
			</div>