<form action="/innovation/browse">
	<div class="filter-pane">
		<h6 for="Countries">Countries</h6>
		<fieldset>
            <select id="e1" multiple class="span4">
               <option value=""></option>
				<option value="AU">Australia</option>
				<option value="AT">Austria</option>
				<option value="BE">Belgium</option>
				<option value="BR">Brazil</option>
				<option value="CA">Canada</option>
				<option value="CL">Chile</option>
				<option value="CN">China</option>
				<option value="CZ">Czech Republic</option>
				<option value="DK">Denmark</option>
				<option value="EE">Estonia</option>
				<option value="FI">Finland</option>
				<option value="FR">France</option>
				<option value="DE">Germany</option>
				<option value="GR">Greece</option>
				<option value="HU">Hungary</option>
				<option value="IS">Iceland</option>
				<option value="IN">India</option>
				<option value="ID">Indonesia</option>
				<option value="IE">Ireland</option>
				<option value="IL">Israël</option>
				<option value="IT">Italy</option>
				<option value="JP">Japan</option>
				<option value="KR">Korea</option>
				<option value="LU">Luxembourg</option>
				<option value="MX">Mexico</option>
				<option value="NL">Netherlands</option>
				<option value="NZ">New Zealand</option>
				<option value="NO">Norway</option>
				<option value="PL">Poland</option>
				<option value="PT">Portugal</option>
				<option value="RU">Russia</option>
				<option value="SK">Slovak Republic</option>
				<option value="SI">Slovenia</option>
				<option value="ZA">South Africa</option>
				<option value="ES">Spain</option>
				<option value="SE">Sweden</option>
				<option value="CH">Switzerland</option>
				<option value="TR">Turkey</option>
				<option value="GB">United Kingdom</option>
				<option value="US">United States</option>
            </select>
		</fieldset>
	</div>

	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="orgType">Level of government</h6>
		<div class="collapsible">

			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> National / federal<span class="categoryStat">(21)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Regional<span class="categoryStat">(3)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Local<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
		</div>
	</div>
	
	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="sector">Sector</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Central administrative services<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Defence<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Public order and safety (including justice)<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Economic affairs (including agriculture)<span class="categoryStat">(7)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Environmental protection<span class="categoryStat">(2)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Housing and community amenities<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Health<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Recreation, culture and religion<span class="categoryStat">(90)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Education<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Social protection<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
		</div>
	</div>

	<div class="filter-pane refineGroup">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="Countries">Year of launch</h6>
		
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2013<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2012<span class="categoryStat">(7)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2011<span class="categoryStat">(10)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2010<span class="categoryStat">(21)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2009<span class="categoryStat">(3)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2008<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
		</div>
	</div>

	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="type">Type of innovation</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> An entirely new or significantly new service or product, or an existing service provided to a new group of users <span class="categoryStat">(46)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> A new process or approach for the design or delivery of existing services or products <span class="categoryStat">(35)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> A new way to organise or manage work within your organisation <span class="categoryStat">(15)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> A new way to communicate with service users <span class="categoryStat">(29)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> A different type of change<span class="categoryStat">(35)</span></a><a class="fNot" href="#not">-</a></div>
		</div>
	</div>

	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="objective">Stage of Innovation</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Design<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Testing<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Implementation<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Diffusion<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">x</a></div>
		</div>
	</div>

	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="devTime">Partners</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> None<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Private Sector<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Civil Society<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Academics and Research Bodies<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Other Public Sector<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Other<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
		</div>
	</div>

	<div class="filter-pane">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="results">Results</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Improved efficiency<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Improved effectiveness<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Improved service quality<span class="categoryStat"> (12)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> &lfloor; Accessibility<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> &lfloor; Responsiveness<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> &lfloor; Reliability<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> &lfloor; Other<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Improved user satisfaction<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Other<span class="categoryStat"> (3)</span></a><a class="fNot" href="#not">-</a></div>
		</div>
	</div>

	<div class="filter-pane tags-group" style="border-bottom: 1px solid #c6c8ca;">
		<div class="colexp"><a class="collapse" href="">Show</a></div>
		<h6 for="type">Keywords</h6>
		<div class="collapsible">
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> access<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> budgeting<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> change<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> childcare<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> citizens<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> civil service<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> civil society<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> co-production<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> consultation<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> decision-making<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> delivery<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> design<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> digital<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> e-government<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> efficiency<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> equality<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> flexibility<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> human resources<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> implementation<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> innovation<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> online<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> open data<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> partnership<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> performance<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> private sector<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> procurement<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> project management<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> public sector<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> rules<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> savings<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> simplicity<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> transparency<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
			<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Users<span class="categoryStat">&nbsp;(3)</span></a><a class="fNot" href="#not">-</a></div>
		</div>
	</div>
</form>