
<ul id="currentFilters">
	<li><h5 class="cfTitle">Current Filters</h5></li>
	<li class="refineGroup">
	<h6>Search items</h6>
	<ul class="categories">
		<li class="category"><a href="#" class="removeLink">x</a><span>innovation</span></li>
	</ul>
	</li>
	<li class="refineGroup">
	<h6>Date of publications</h6>
	<ul class="categories">
		<li class="category"><a href="#" class="removeLink">x</a><span>2010</span>
		<!--
		<ul class="categories">
			<li class="category"><a href="#" class="removeLink">x</a><span><b>NOT </b>July</span></li>
		</ul>
		-->
		</li>
	</ul>
	</li>
	<li class="refineGroup">
	<h6>source</h6>
	<ul class="categories">
		<li class="category"><a href="#" class="removeLink">x</a><span>other international organisations</span></li>
	</ul>
	</li>
</ul>

<ul id="groups">
	<li class="refineGroup">
		<form id="custom-search-form" class="form-search form-horizontal clearfix">
		    <div class="input-append">
		        <input type="text" class="search-query" placeholder="Search items">
		        <button type="submit" class="btn"><i class="icon-search"></i></button>
		    </div>
		</form>
	</li>
	<li class="refineGroup">
	<div class="colexp"><a class="collapse" href="">Show</a></div>
	<h6>Date of publications</h6>
	<ul class="categories collapsible">
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2013<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2012<span class="categoryStat">(7)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2011<span class="categoryStat">(10)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2010<span class="categoryStat">(21)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2009<span class="categoryStat">(3)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> 2008<span class="categoryStat">(1)</span></a><a class="fNot" href="#not">-</a></div>
	</ul>
	</li>
	<li class="refineGroup">
	<div class="colexp"><a class="collapse" href="">Show</a></div>
	<h6>Source</h6>
	<ul class="categories collapsible">
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> OECD<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> other international organisations<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> national government<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> academia<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> research institution<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> consultancy<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> other<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
	</ul>
	</li>
	<li class="refineGroup">
	<div class="colexp"><a class="collapse" href="">Show</a></div>
	<h6>Type of item</h6>
	<ul class="categories collapsible">
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> publication<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> article<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> webpage<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> policy document<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> event transcript<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> presentation<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> video<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> blog<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> journal<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> database<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
	</ul>
	</li>
	<li class="refineGroup">
	<div class="colexp"><a class="collapse" href="">Show</a></div>
	<h6>Language</h6>
	<ul class="categories collapsible">
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> English<span class="categoryStat">(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> French<span class="categoryStat">(7)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> Chinese<span class="categoryStat">(10)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> German<span class="categoryStat">(21)</span></a><a class="fNot" href="#not">-</a></div>
	</ul>
	</li>
	<li class="refineGroup tags-group">
	<div class="colexp"><a class="collapse" href="">Show</a></div>
	<h6>Keywords</h6>
	<ul class="categories collapsible">
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> efficiency<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> performance<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> change<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> achieving innovation<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> education<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> social care<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
		<div class="zkFilter"><a href="#add" class="addFilter"><strong>+</strong> central administration<span class="categoryStat">&nbsp;(13)</span></a><a class="fNot" href="#not">-</a></div>
	</ul>
	</li>
</ul>