  <!-- Part Name -->
  <legend></legend>
  <div class="row">
    <div class="span8" style="padding-top: 15px;">
      <ul class="formIndications">
        <li><strong>To share your innovation, please complete this step-by-step form</strong></li>
        <li>Help notes are provided next to questions or indicated with a question sign <i class="icon-question-sign"></i></li>
        <li>You can save your work by clicking on the “save button” and go back later to complete it</li>
        <li>When you have completed a section you can go back and make changes</li>
        <li>Questions indicated by <i class="icon-map-marker"></i> are required responses but we highly encourage you to take the time to answer those which are optional </li>
        <li>The OECD will send you a preview of how your innovation will look on the site before it is published on the website.</li>
        <li style="border: none; padding-bottom: 20px;">
          <a id="startForm" href="#" type="submit" class="btn btn-large btn-primary pull-right">Start</a>
          
        </li>
      </ul>
    </div>
    <div class="span2" style="text-align: center; padding-top: 70px;">
        <a href="#">
          <img style="width: 70px;" src="/assets/img/GUI/icons/file_type/doc.png" />
          <br />
          download<br />the form

        </a>
    </div>
  </div>