<fieldset id="authors">
  <!-- Part Name -->
  <legend>A Personal Details</legend>
  <input type="hidden" name="auth2-length" value="">
  <!-- Text input-->
  <div id="auth1" class="row auth-pane"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <h6><span class="badge pull-left">A.1</span> Contact informations</h6>
          <label class="control-label">Your Name<i class="icon-map-marker"></i></label>
          <div class="controls">
            <input id="auth1_name" name="auth1_name" type="text" placeholder="max 10 words" class="span5">
          </div>
        </div>
        <div class="control-group">
            <label class="control-label">Your Organisation<i class="icon-map-marker"></i></label>
            <div class="controls">
              <input id="auth1_org" name="auth1_org" type="text" placeholder="max 20 words" class="span5">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Your Email Adress<i class="icon-map-marker"></i></label>
            <div class="controls">
              <input id="auth1_mail" name="auth1_mail" type="text" placeholder="user@site.sfx" class="span5">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Your Telephone Number</label>
            <div class="controls">
              <input id="auth1_tel" name="auth1_tel" type="text" placeholder="max 20 words" class="span5">
            </div>
        </div>
     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>
  <!-- Text input-->
  <div id="auth2" class="row auth-pane" style="display: none;">
    <div class="span8"><p class="sep"></p>
        <div class="control-group">
          <label><h6><span class="badge pull-left">A.2</span> Contact informations</h6></label>
          <label class="control-label">Name</label>
          <div class="controls">
            <input id="auth2-name" name="textinput" type="text" placeholder="max 10 words" class="span5">
          </div>
            <label class="control-label">Organisation</label>
            <div class="controls">
              <input id="auth2-org" name="passwordinput" type="text" placeholder="max 20 words" class="span5">
            </div>
            <label class="control-label">Email Adress</label>
            <div class="controls">
              <input id="auth2-mail" name="passwordinput" type="text" placeholder="user@site.sfx" class="span5">
            </div>
            <label class="control-label">Telephone Number</label>
            <div class="controls">
              <input id="auth2-phone" name="passwordinput" type="text" placeholder="max 20 words" class="span5">
            </div>
          </div>
     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>
  <!-- Text input-->
  <div id="auth3" class="row auth-pane" style="display: none;">
    <div class="span8"><p class="sep"></p>
        <div class="control-group">
          <label><h6><span class="badge pull-left">A.3</span> Contact informations</h6></label>
          <label class="control-label">Name</label>
          <div class="controls">
            <input id="auth3-name" name="textinput" type="text" placeholder="max 10 words" class="span5">
          </div>
            <label class="control-label">Organisation</label>
            <div class="controls">
              <input id="auth3-org" name="passwordinput" type="text" placeholder="max 20 words" class="span5">
            </div>
            <label class="control-label">Email Adress</label>
            <div class="controls">
              <input id="auth3-mail" name="passwordinput" type="text" placeholder="user@site.sfx" class="span5">
            </div>
            <label class="control-label">Telephone Number</label>
            <div class="controls">
              <input id="auth3-phone" name="passwordinput" type="text" placeholder="max 20 words" class="span5">
            </div>
          </div>
     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>
  <!-- Text input-->
  <div class="row">
    <div class="span8"><p class="sep"></p>
          <div class="control-group">
            <div class="controls">
              <div class="btn-group pull-left">
                <a href="#" id="auth-add" class="btn btn-mini">Add Contact</a>
                <a href="#" id="auth-rem" class="btn btn-mini disabled">Remove Contact</a>
              </div>
            </div>
          </div>
     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>
  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div id="contact_visible" class="control-group">
        <label class="control-label">Would you like your name and contact details to be visible to all registered members of the platform?<i class="icon-map-marker"></i></label>
            <div class="controls">
            <label class="radio inline">
              <input type="radio" name="contact_visible" value="yes" checked>
              yes
            </label>
            <label class="radio inline">
              <input type="radio" name="contact_visible" value="no">
              no
            </label>
          </div>
        </div>
    </div>
    <div class="span4">
          <label class="help-block">Ticking no will mean that your name and contact details remain private and will only be shared with the OECD Secretariat.</em></label>
    </div>
  </div>
  </fieldset>