<fieldset>
  <!-- Part Name -->
  <legend>B. Organisation</legend>

  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">B.1</span>Country<i class="icon-map-marker"></i></label>
          <div class="controls">
            <select id="org_country" name="org_country" required>
              <option value="">Select from drop down menu</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="BE">Belgium</option>
              <option value="BR">Brazil</option>
              <option value="CA">Canada</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CZ">Czech Republic</option>
              <option value="DK">Denmark</option>
              <option value="EE">Estonia</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="GR">Greece</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IE">Ireland</option>
              <option value="IL">Israël</option>
              <option value="IT">Italy</option>
              <option value="JP">Japan</option>
              <option value="KR">Korea</option>
              <option value="LU">Luxembourg</option>
              <option value="MX">Mexico</option>
              <option value="NL">Netherlands</option>
              <option value="NZ">New Zealand</option>
              <option value="NO">Norway</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="RU">Russia</option>
              <option value="SK">Slovak Republic</option>
              <option value="SI">Slovenia</option>
              <option value="ZA">South Africa</option>
              <option value="ES">Spain</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="TR">Turkey</option>
              <option value="GB">United Kingdom</option>
              <option value="US">United States</option>
            </select>
          </div>
        </div>
    </div>
    <div class="span4">

    </div>
  </div>

  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">B.2</span> Level of government<i class="icon-map-marker"></i></label>
          <div id="org_level" class="controls">
            <label class="radio">
              <input type="radio" name="org_level" id="org_level1" value="option1">
              <strong>Central</strong> government
              <a data-placement="right" href="#" class="help" data-content="'Central' government refers to the national, central or federal government."><i class="icon-question-sign"></i></a>
            </label>
            <label class="radio">
              <input type="radio" name="org_level" id="org_level2" value="option2">
              <strong>Regional / State</strong> government
              <a data-placement="right" href="#" class="help" data-content="‘State/Regional’ government refers to the level immediately below the central government in federal countries. This might be called the region, state, province or Länder."><i class="icon-question-sign"></i></a>
            </label>
            <label class="radio">
              <input type="radio" name="org_level" id="org_level2" value="option2">
              <strong>Local</strong> government
              <a data-placement="right" href="#" class="help" data-content="‘Local’ government refers to all sub-national governments below the state/regional level in federal countries, and to all sub-national governments in non-federal countries."><i class="icon-question-sign"></i></a>
            </label>
          </div>
        </div>
    </div>
    <div class="span4">
      <p class="help-block"></p>
    </div>
  </div>
  
  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">B.3</span> select Sector<i class="icon-map-marker"></i></label>
          <div id="org_sector" class="controls">
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 1">
              <strong>General public services </strong><a data-placement="right" href="#" class="help" data-content="General public services includes: executive and legislative organs and governance, financial and fiscal affairs, external affairs; foreign economic aid; general services; basic research; R&amp;D related to general public services; public debt transactions; transfers between different levels of government of a general nature."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 2">
              <strong>Defence </strong><a data-placement="right" href="#" class="help" data-content="Defence include: military defence; civil defence; foreign military aid; defence R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 3">
              <strong>Public order and safety </strong><a data-placement="right" href="#" class="help" data-content="Public order and safety include: police services; fire-protection services; law courts; prisons; public order and safety R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 4">
              <strong>Economic affairs </strong><a data-placement="right" href="#" class="help" data-content="Economic affairs include: general economic, commercial and labour affairs; agriculture, forestry, fishing and hunting; fuel and energy; mining, manufacturing and construction; transport; communication; other industries; economic affairs R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 5">
              <strong>Environmental protection </strong><a data-placement="right" href="#" class="help" data-content="Environmental protection include: waste management; waste water management; pollution abatement; Protection of biodiversity and landscape; environmental protection R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 6">
              <strong>Housing and community amenities </strong><a data-placement="right" href="#" class="help" data-content="Housing and community amenities include: housing development; community development; water supply; street lighting; housing and community amenities R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 7">
              <strong>Health </strong><a data-placement="right" href="#" class="help" data-content="Healthinclude: medical products, appliances and equipment; outpatient services; hospital services; public health services; health R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 8">
              <strong>Recreation, culture and religion </strong><a data-placement="right" href="#" class="help" data-content="Recreation, culture and religion includes: recreational and sporting services; cultural services; broadcasting and publishing services; religious and other community services; recreation, culture and religion R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 10">
              <strong>Education </strong><a data-placement="right" href="#" class="help" data-content="Education includes: pre-primary and primary education; secondary education; post secondary non-tertiary education; tertiary education; education not definable by level; subsidiary services to education; education R&amp;D."><i class="icon-question-sign"></i></a>
              </label>
              <label class="checkbox">
              <input type="checkbox" name="org_sector" value="Option 11">
              <strong>Social protection </strong><a data-placement="right" href="#" class="help" data-content="ocial protection includes: sickness and disability; old age; survivors; family and children; unemployment; housing; social protection R&amp;D."><i class="icon-question-sign"></i></a>
              </label>

          </div>
        </div>

    </div>
    <div class="span4">
      
      <p class="help-block">The help list is taken from the Classification of the Functions of Government (COFOG) developed by the OECD. <a href="http://dx.doi.org/10.1787/gov_glance-2011-68-en">OECD (2011), &laquo; Classification of the Functions of Government (COFOG) &raquo;, in Government at a Glance 2011, OECD Publishing.</a></p>

    </div>
  </div>

  
  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">B.4</span> Size of organisation<i class="icon-map-marker"></i></label>
          <div class="controls">
            <select id="org_size" name="org_size" class="">
               <option value="">Select from drop down menu</option>
              <option value="1">Less than 99</option>
              <option value="2">Between 100 and 249</option>
              <option value="3">Between 250 and 499</option>
              <option value="4">Between 500 and 999</option>
              <option value="5">More than 1000</option>
            </select>
          </div>
        </div>

    </div>
    <div class="span4">

    </div>
  </div>

  </fieldset>