<fieldset>
  <!-- Part Name -->
  <legend>C. Description of the innovation</legend>

  <!-- Text input-->
  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">C.1</span> Name of the innovation<i class="icon-map-marker"></i></label>
          <div class="controls">
            <input id="C1" name="C1" type="text" placeholder="max 40 words" class="span5" required>
          </div>
        </div>

     </div>
    <div class="span4" style="position: relative;">
          <p class="help-block" style="position: absolute;">The OPSI’s working definition of public sector innovation is the implementation of a new way in which an organisation operates or the services that it provides. It should  result in improvements in at least one of the following areas:<br />

              1) efficiency;<br />
              2) effectiveness;<br />
              3) service quality; or<br />
              4) user satisfaction<br />

(Please note that you may still provide examples of innovations where the results are not yet available, with the opportunity to update these results at a later date).</p>
    </div>
  </div>
  
  <!-- File Button --> 
  <div class="row">
    <div class="span8"><p class="sep"></p>
      
      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.2</span> If you wish, please upload an image related to the innovation</label>
        <div class="controls">
          <input id="filebutton" id="C2" name="C2" class="input-file" type="file">
          <span class="help-block">image dimensions: width= 290px, height= 140px</span>
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>

  <!-- Text input-->
  
  <div class="row">
    <div class="span8"><p class="sep"></p>
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">C.3</span> If available, please provide a link that provides further information about the innovation</label>
          <div class="controls">
            <input id="inno_link" name="inno_link" type="text" placeholder="http://..." class="span5">
          </div>
      </div>
    </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>

  <!-- Text input-->
  <div class="row">
    <div class="span8"><p class="sep"></p>
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">C.4</span> What year was the innovation launched?<i class="icon-map-marker"></i></label>
          <div class="controls">
            <input id="inno_year" name="inno_year" type="text"  class="span5" placeholder="Please provide as YYYY" required />
          </div>
        </div>
    </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>

  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">

      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.5</span> Please briefly describe the innovative practice<i class="icon-map-marker"></i></label>
        <div class="controls">                     
          <textarea rows="5" id="C5" name="C5" class="span5" placeholder="Max. 150 words" required></textarea>
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block">In your description please also set out what the innovation has changed compared to the situation before</p>
    </div>
  </div>


  <div class="row"><p class="sep"></p>
    <div class="span8">
      <!-- Multiple Checkboxes -->
      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.6</span> Type of innovation<i class="icon-map-marker"></i><br />Please check the box which most closely corresponds to the main type of change that your innovation has implemented</label>
        <div id="C6" class="controls">
           <label class="checkbox">
            <input type="checkbox" id="C6_1" name="C6[]" value="noresults">
            It is an entirely new or significantly new service or product, <br />or an existing service provided to a new group of users;
          </label>
          <label class="checkbox">
            <input type="checkbox" id="C6_2" name="C6[]" value="noresults">
            It is a new process or approach for the design or delivery <br />of existing services or products; 
          </label>
          <label class="checkbox">
            <input type="checkbox" id="C6_3" name="C6[]" value="noresults">
            It is a new way to organise or manage work <br />within your organisation; 
          </label>
          <label class="checkbox">
            <input type="checkbox" id="C6_'" name="C6[]" value="noresults">
            It is a new way to communicate with service users
          </label>
          <label class="checkbox">
            <input type="checkbox" id="C6_5" name="C6[]" value="noresults">
            It is a different type of change from any of the above
          </label>
        </div>
      </div>
    </div>
    <div class="span4">
          <p class="help-block">Answers may include multiple types of change</p>
          <p class="help-block">E.g. a new security alert system for power stations combining meteorological and land data.
            <br />E.g. involving users in the design of personal care services by using web 2.0 technologies
            <br />E.g. the application of lean techniques to operational and policy processes
            <br />E.g. using a new communication campaign involving users and public servants as testimonials</p>
    </div>
  </div>

  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">

      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.7</span> Please indicate the innovation's main beneficiaries<i class="icon-map-marker"></i></label>

        <div class="controls bullet-list">
          <input id="C7" class="hiddenfrom" name="C10" type="text" value="" required />
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block">Please provide an estimated number of beneficiaries where possible</p>
    </div>
  </div>

  <!-- Text input-->
  <div class="row"><p class="sep"></p>
    <div class="span8">
        <div class="control-group">
          <label class="control-label"><span class="badge pull-left">C.8</span> Please provide up to 5 key words that capture the key elements of the innovation<i class="icon-map-marker"></i></label>
          <div class="controls">
            <input id="C8" style="min-width: 380px;" type="text" name="C8" placeholder="Tags" required />
          </div>
        </div>

     </div>
    <div class="span4">
          <p class="help-block">Enter a tag or select from the list <br />Separate each tagwith a semi-colon</p>
    </div>
  </div>

  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">

      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.9</span> Why was the innovation developed?<i class="icon-map-marker"></i></label>

        <div class="controls bullet-list">
          <input id="C9" class="hiddenfrom" name="C10" type="text" value="<ul><li> 1</li><li>something 2</li><li>something 3</li><li>something else</li></ul>" required />
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block">For example, this can include but is not limited to, the following factors: <br />1) response to a problem (e.g. service gap or failure);  <br />2) response to a change within the organisation (e.g. change of internal rules and procedures);  <br />3) response to an external change (policy change, changes in laws and regulation). </p>
    </div>
  </div>

  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">

      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">C.10</span> Please set out the objectives of the innovation<i class="icon-map-marker"></i></label>

        <div class="controls bullet-list">
          <input id="C10" class="hiddenfrom" name="C10" type="text" value="<ul><li> 1</li><li>something 2</li><li>something 3</li><li> 4</li><li>something 5</li><li>something 6</li><li> 7</li><li>something 8</li><li>something 9</li><li>something else 10</li></ul>" required />
        </div>

      </div>

     </div>
    <div class="span4">
          <p class="help-block">Please provide an estimated number of beneficiaries where possible</p>
    </div>
  </div>

  </fieldset>