<fieldset id="results">
	<!-- Part Name -->
	<legend>G. Results</legend>
	<div class="row">
		<p class="sep">
		</p>
		<div class="span8">
			<!-- Multiple Checkboxes -->
			<div id="resultChecks" class="control-group">
				<label class="control-label"><span class="badge pull-left">G.1</span> What results has the innovation had?<i class="icon-map-marker"></i></label>
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" id="G1_check1" name="G1_check" value="noresults">Results not available yet</label>
					<p class="sep">
					</p>
					<label class="checkbox">
					<input type="checkbox" id="G1_check2" name="G1_check" value="efficiency">Improved efficiency <a data-placement="right" href="#" class="help" data-content="An improvement in outputs in relation to inputs. E.g. reducing the cost of providing waste recycling services by €0.5m over 4 years."><i class="icon-question-sign"></i></a></label>
					<p class="sep">
					</p>
					<label class="checkbox">
					<input type="checkbox" id="G1_check3" name="G1_check" value="effectiveness">Improved effectiveness <a data-placement="right" href="#" class="help" data-content="An improvement in achieving given objectives. E.g. a 10% increase in the exam pass rate among 16-18year olds, where an innovation’s objective is to improve educational attainment"><i class="icon-question-sign"></i></a></label>
					<p class="sep">
					</p>
					<label class="checkbox">
					<!-- <input style="display: hidden;" type="checkbox" id="G1_check" name="G1_check" value="SQ"> -->
					Improved service quality <em class="span3 pull-right">(Please indicate the type of service quality improvement)</em></label>
					<div class="qualiDetails" style="padding-left: 20px">
						<label class="checkbox">
						<input type="checkbox" id="G1_check4" name="G1_check" value="Accessibility">Accessibility <a data-placement="right" href="#" class="help" data-content="I.e. An improvement in the ease of access to access to a service. These may be related to cost; geographic distance; number of service providers; complexity and availability of a service (e.g. opening hours)."><i class="icon-question-sign"></i></a></label>
						<label class="checkbox">
						<input type="checkbox" id="G1_check5" name="G1_check" value="Responsiveness">Responsiveness <a data-placement="right" href="#" class="help" data-content="I.e. the ability to respond to different user needs or user views"><i class="icon-question-sign"></i></a></label>
						<label class="checkbox">
						<input type="checkbox" id="G1_check6" name="G1_check" value="Reliability">Reliability <a data-placement="right" href="#" class="help" data-content="i.e. the accuracy and consistency of a service (such as the number of errors that occur)"><i class="icon-question-sign"></i></a></label>
						<label class="checkbox">
						<input type="checkbox" id="G1_check7" name="G1_check" value="otherSQ">other </label>
					</div>
					<p class="sep">
					</p>
					<label class="checkbox">
					<input type="checkbox" id="G1_check8" name="G1_check" value="userSatisfaction">Improved user satisfaction <a data-placement="right" href="#" class="help" data-content="An improvement in outputs in relation to inputs. E.g. reducing the cost of providing waste recycling services by €0.5m over 4 years."><i class="icon-question-sign"></i></a></label>
					<p class="sep">
					</p>
					<label class="checkbox">
					<input type="checkbox" id="G1_check8" name="G1_check" value="Other">Other <a data-placement="right" href="#" class="help" data-content="An improvement in outputs in relation to inputs. E.g. reducing the cost of providing waste recycling services by €0.5m over 4 years."><i class="icon-question-sign"></i></a></label>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				Please check the box indicating the type of results. Please provide evidence of the improvements, including an indication of how they have been measured
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="resultProgress" class="row">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label">Results progress</label>
				<div class="controls">
					<textarea rows="5" id="G1_0" name="G1_0" class="span5">Max. 100 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				Please indicate any preliminary results where you have them and indicate when fuller results will be available.
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="efficiency" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label">Efficiency</label>
				<div class="controls">
					<textarea rows="5" id="G1_1" name="G1_1" class="span5">Max. 100 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				An improvement in outputs in relation to inputs. E.g. reducing the cost of providing waste recycling services by €0.5m over 4 years.
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="effectiveness" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label">Effectiveness</label>
				<div class="controls">
					<textarea rows="5" id="G1_2" name="G1_2" class="span5">Max. 50 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				An improvement in achieving given objectives. E.g. a 10% increase in the exam pass rate among 16-18year olds, where an innovation’s objective is to improve educational attainment.
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="Accessibility" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label"><em>Service quality:</em> Accessibility</label>
				<div class="controls">
					<textarea rows="5" id="G1_3" name="G1_3" class="span5">Max. 50 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				An improvement in the ease of access to access to a service. These may be related to cost; geographic distance; number of service providers; complexity and availability of a service (e.g. opening hours).
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="Responsiveness" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label"><em>Service quality:</em> Responsiveness</label>
				<div class="controls">
					<textarea rows="5" id="G1_4" name="G1_4" class="span5">Max. 50 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				I.e. the ability to respond to different user needs or user views.
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="Reliability" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label"><em>Service quality:</em> Reliability</label>
				<div class="controls">
					<textarea rows="5" id="G1_5" name="G1_5" class="span5">Max. 50 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				I.e. the accuracy and consistency of a service (such as the number of errors that occur).
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="otherSQ" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label"><em>Service quality:</em> Other</label>
				<div class="controls">
					<textarea rows="5" id="G1_6" name="G1_6" class="span5">Max. 50 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="userSatisfaction" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label">Improved user satisfaction</label>
				<div class="controls">
					<textarea rows="5" id="G1_7" name="G1_7" class="span5">Max. 100 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				A recorded improvement in users’ reported satisfaction. Users may refer to either external users (e.g. citizens) or internal users (e.g. staff).
			</p>
		</div>
	</div>
	<!-- Textarea -->
	<div id="Other" class="row resultLine">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group">
				<label class="control-label">Other</label>
				<div class="controls">
					<textarea rows="5" id="G1_8" name="G1_8" class="span5">Max. 100 words</textarea>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
			</p>
		</div>
	</div>
	<!-- Multiple Radios (inline) -->
	<div class="row">
		<p class="sep">
		</p>
		<div class="span8">
			<div class="control-group ">
				<label class="control-label"><span class="badge pull-left">G.2</span> Has the innovation been evaluated?</label>
				<div class="controls">
					<label class="radio inline">
					<input type="radio" name="hasEval" checked value="false">
					no </label>
					<label class="radio inline">
					<input type="radio" name="hasEval" value="true">
					yes </label>
				</div>
			</div>
		</div>
		<div class="span4">
			<p class="help-block">
				If yes, please provide details below
			</p>
		</div>
	</div>
	<div id="evalution-block" style="display: none;">
		<!-- Textarea -->
		<div class="row">
			<p class="sep">
			</p>
			<div class="span8">
				<div class="control-group">
					<label class="control-label">Please describe the evaluation process used and the resultLines<i class="icon-map-marker"></i></label>
					<div class="controls">
						<textarea rows="5" id="textarea" name="textarea" class="span5" placeholder="Max. 200 words" required></textarea>
					</div>
				</div>
			</div>
			<div class="span4">
				<p class="help-block">
					Performance measurements or indicators may be included here
				</p>
			</div>
		</div>
		<!-- Text input-->
		<div class="row">
			<p class="sep">
			</p>
			<div class="span8">
				<div class="control-group">
					<label class="control-label">If you wish, you may provide a link to further information on the evaluation </label>
					<div class="controls">
						<input id="textinput" name="textinput" type="text" placeholder="http://..." class="span5">
					</div>
				</div>
			</div>
			<div class="span4">
				<p class="help-block">
					or email documents to the OECD by clicking here [link to an OECD email address].
				</p>
			</div>
		</div>
	</div>
</fieldset>