 <fieldset>
  <!-- Part Name -->
  <legend>H. Lessons Learned</legend>


  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">
      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">H.1</span> What lessons from your experience would you like to share with other countries?</label>
        <div class="controls">                     
          <textarea rows="5" id="H1" name="H1" class="span5">Max. 200 words</textarea>
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block">Please include what worked well and less well</p>
    </div>
  </div>


  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">
      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">H.2</span> What conditions do you think are necessary for the success of the innovation?</label>
        <div class="controls">                     
          <textarea rows="5" id="H2" name="H2" class="span5">Max. 200 words</textarea>
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block">Conditions may refer to, but are not limited to, supporting infrastructure and services; policy and rules; leadership and guidance; human and financial resources; and personal values and motivation</p>
    </div>
  </div>


  <!-- Textarea -->
  <div class="row"><p class="sep"></p>
    <div class="span8">
      <div class="control-group">
        <label class="control-label"><span class="badge pull-left">H.3</span> Is there any other information that you would like to share about your innovation?</label>
        <div class="controls">                     
          <textarea rows="5" id="H3" name="H3" class="span5">Max. 200 words</textarea>
        </div>
      </div>

     </div>
    <div class="span4">
          <p class="help-block"></p>
    </div>
  </div>

  </fieldset>