<fieldset>
    <div class="row">
      <div class="span2 pull-right" style="text-align: center; padding-top: 70px; margin-right: 160px;">
          <p>download <br />the filled form </p>
          <a href="#">
            <img style="width: 40px;" src="/assets/img/GUI/icons/file_type/doc.png" />
          </a>
          <a href="#">
            <img style="width: 40px;" src="/assets/img/GUI/icons/file_type/pdf.png" />
          </a>
      </div>
      <p style="margin-left: 20px; height: 20px;"></p>
      <div class="span8">
          <label class="control-label" style="float: left; padding: 10px 30px 10px 10px;">would you like to make <br />your innovation <br />visible to the public</label>
          <div class="controls">
            <label class="radio inline">
              <input type="radio" name="public" value="yes">
              Yes
            </label>
            <label class="radio inline">
              <input type="radio" name="public" value="no" checked="checked">
              No
            </label>
            <p class="help-block">If you choose no, your innovation will only be visible <br />to a restricted community of registered users in government.</p>
        </div>
      </div>
      <h5 class="span8" style="margin-left: 20px!important;">Feedback</h5>
      <div class="span8"><p class="sep"></p>
          <label class="control-label" style="float: left; left; padding: 10px 30px 10px 10px;">On a scale of 1 – 10, how simple did you find it was to complete the form</label>
          <div class="controls">
          <input  type="hidden" id="I2" name="I2"value="" />
          <div id="hardness" class="pagination pagination-small pull-left" style="margin: 10px 0 0 0;">
            <ul style="width: 288px;">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li><a href="#">10</a></li>
            </ul>
          </div>
            <p class="help-block span5" style="margin-left: 0;">where 1=impossible; 10=very straightforward.</p>
        </div>
      </div>
      <div class="span8"><p class="sep"></p>
          <label class="control-label" style="float: left; left; padding: 10px 30px 10px 10px;">Were there any questions that you found particularly difficult to answer? If so, please highlight the question and briefly explain why</label>
          <div class="controls" style="margin-top: 10px;">
            <textarea rows="5" id="I3" name="I3" class="span5" placeholder="Max. 50 words" required></textarea>
        </div>
      </div>
    </div>
</fieldset>