
        <footer>
            <div class="container">
                <div class="pull-left">
                    <a href="mailto:opsi@oecd.org">Contact us</a> | 
                    <a href="#">Privacy Policy</a> | 
                    <a href="#">Terms and Conditions</a>
                </div>
                <div class="pull-right">Copyright OECD. All rights reserved.</div>
                <!-- <img id="oecd-footer" src="/assets/img/GUI/oecd-footer.png"> -->
            </div>
        </footer>