{% block content %}
	<div class="row">
		<div class="span8">
			<div class="white-block">
				<h3>About Observatory of public Sector Innovations</h3>
				<p>The OECD is currently developing an Observatory of Public Sector Innovation (OPSI) which collects and analyses examples and shared experiences of public sector innovation to provide practical advice to countries on how to make innovations work.</p>
				<p>The OPSI does this by:</p>
				<ul class="inspiList">
					<li>
						<h5>Inspiring</h5>
						<img src="/assets/img/visuals/about/img1.png">
						<p>Providing a unique collection of innovations from across the world to inspire innovators in other countries.</p>
					</li>
					<li>
						<h5>Connecting</h5>
						<img src="/assets/img/visuals/about/img2.png">
						<p>Connecting innovators through an online platform enabling them to share their experiences and collaborate in the development of innovations.</p>
					</li>
					<li>
						<h5>Promoting</h5>
						<img src="/assets/img/visuals/about/img3.png">
						<p>Turning analysis of concrete cases into practical guidance on how to source, develop, support and diffuse innovations across the public sector.</p>
					</li>
				</ul>
				<p>The OPSI’s online platform is a place where users interested in public sector innovation can:</p>

				<ul>
					<li>Access information on innovations</li>
					<li>Share their own experiences</li>
					<li>Collaborate with other users</li>
				</ul>
				<p>For further information please visit: <a href="http://www.oecd.org/governance/oecdobservatoryofpublicsectorinnovation.htm">http://www.oecd.org/governance/oecdobservatoryofpublicsectorinnovation.htm</a></p>

			</div>
		</div>
		<div class="span4">

			<div class="white-block">
				<h4>Interested in getting involved?</h4>
				<p>The Observatory is led by a Task Force of OECD countries. The Task Force meets twice a year to discuss the direction of the Observatory as well as its operational and analytical aspects.</p>

				<p>An associate group drawn from academia, non-governmental organisations, commercial organisations and their philanthropic  foundations, serves as a knowledge resource that the Observatory can tap into to capture a wide range of experience and research that is relevant to public sector innovation but exists beyond national governments.</p>
				<p>If you would like further information, or you would like to be involved in the Observatory’s work please email <a href="mailto:opsi@oecd.org">opsi@oecd.org</a>.</p>
			</div>

		</div>
	</div>
{% endblock %}