{% block content %}
<div class="row">
	<div class="span8">
		<div class="white-block">
			<h3>Collaborate</h3>
			<img src="/assets/img/visuals/collaborate/littlepeoples.png" class="pull-left">
			<div class="offset1">
				<p>The Observatory of Public Sector Innovation is a place where users interested in public sector innovation can:</p>
				<ul>
					<li>Access information on innovations</li>
					<li>Share their own experiences</li>
					<li>Collaborate with other users</li>
				</ul>
			</div>
				<p>The collaboration element will provide users with the opportunity to discuss with other users, share content and work together. This component is under construction and will be available in 2014</p>
		</div>
	</div>
	<div class="span4">
		<div class="white-block">
			<h5>This component is under construction and will be available in 2014.</h5>
			<p>If you have ideas about the collaborative opportunities that it should provide to make the most of new technology while providing practical support for users’ daily work please email <a href="mailto:opsi@oecd.org">opsi@oecd.org</a>.</p>
		</div>
	</div>
</div>
{% endblock %}