{% block content %}
<div class="row">
    <div class="span12">
        <div class="white-block">
            <h3>Countries</h3>
            <p>The country pages provide a space where national governments can share their policies, programmes and the events that are happening in their country related to public sector innovation</p>
            <div class="countryList row">
                <ul class="countryblock span2 offset1">
                    <li><a href="/pages/country_profile">Australia</a></li>
                    <li><a href="/pages/country_profile">Austria</a></li>
                    <li><a href="/pages/country_profile">Belgium</a></li>
                    <li><a href="/pages/country_profile">Brazil</a></li>
                    <li><a href="/pages/country_profile">Canada</a></li>
                    <li><a href="#">Chile</a></li>
                    <li><a href="/pages/country_profile">China</a></li>
                    <li><a href="/pages/country_profile">Czech Republic</a></li>
                </ul>
                <ul class="countryblock span2">
                    <li><a href="/pages/country_profile">Denmark</a></li>
                    <li><a href="/pages/country_profile">Estonia</a></li>
                    <li><a href="/pages/country_profile">Finland</a></li>
                    <li><a href="/pages/country_profile">France</a></li>
                    <li><a href="/pages/country_profile">Germany</a></li>
                    <li><a href="/pages/country_profile">Greece</a></li>
                    <li><a href="#">Hungary</a></li>
                    <li><a href="#">Iceland</a></li>
                </ul>
                <ul class="countryblock span2">
                    <li><a href="#">India</a></li>
                    <li><a href="#">Indonesia</a></li>
                    <li><a href="#">Ireland</a></li>
                    <li><a href="#">Israël</a></li>
                    <li><a href="/pages/country_profile">Italy</a></li>
                    <li><a href="/pages/country_profile">Japan</a></li>
                    <li><a href="/pages/country_profile">Korea</a></li>
                    <li><a href="/pages/country_profile">Luxembourg</a></li>
                </ul>
                <ul class="countryblock span2">
                    <li><a href="/pages/country_profile">Mexico</a></li>
                    <li><a href="/pages/country_profile">Netherlands</a></li>
                    <li><a href="#">New Zealand</a></li>
                    <li><a href="#">Norway</a></li>
                    <li><a href="#">Poland</a></li>
                    <li><a href="#">Portugal</a></li>
                    <li><a href="#">Russia</a></li>
                    <li><a href="#">Slovak Republic</a></li>
                </ul>
                <ul class="countryblock span2">
                    <li><a href="#">Slovenia</a></li>
                    <li><a href="#">South Africa</a></li>
                    <li><a href="#">Spain</a></li>
                    <li><a href="/pages/country_profile">Sweden</a></li>
                    <li><a href="/pages/country_profile">Switzerland</a></li>
                    <li><a href="/pages/country_profile">Turkey</a></li>
                    <li><a href="/pages/country_profile">United Kingdom</a></li>
                    <li><a href="/pages/country_profile">United States</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}