{% block content %}
<div class="row">
	<div class="span8">
		<div id="cMain" class="white-block">
			<div class="row">
				<div  class="span5">
					<h2><img class="cFlag" src="/assets/img/visuals/country/France.png">France</h2>
				</div>
			</div>
			<p>Innovation in the public sector is key to the modernisation of the French state. Innovation at all levels is essential to respond to the expectations of users and citizens, and constrained public finances.</p>
			<p>The French administration, through the Secr&eacute;tariat g&eacute;n&eacute;ral pour la modernisation de l'action publique (SGMAP) supports public sector bodies and their employees to realise their potential for innovation by developing a network of actors engaged in innovation and supporting innovative approaches as they emerge.</p>

			<div class="cFocus" >
				<h4>Focus on&hellip;</h4>
				<a class="cNews" href="#">
					<h5>Regional Government Awards</h5>
					<img src="/assets/img/visuals/country/photo-people.png" style="float: left; padding-right: 10px;">
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</a>
			</div>
			<div class="cMore">
				<p>For further information visit:
				<br /><a href="http://www.innovation.france.fr">www.innovation.france.fr</a></p>
			</div>
		</div>
		
	</div>
	<div class="span4">
		<div id="innovation-list">
			<h5 style="p">Highlighted innovation</h5>
			<div class="innovation-card clearfix">
				<h5 class="title"><a href="/innovation/page">Innovation and Competitivity</a></h5>
				<p class="infos"><span class="">Online tools</span> </p>
				<p class="abstract">The Next Step online community is an invitation only closed community for customers who are transitioning from Parenting Payment to Newstart Allowance.</p>
				<p class="tag-list"><span>Social Protection</span><span>tag 2</span><span>tag 3</span><span>tag 4</span><span>tag 5</span></p>
			</div>
		</div>
				<p class="clearfix" style="margin-top: 10px;"><a href="/innovation/search">&raquo; See all French innovations</a></p>
		<div id="otherDocs">
			<h5>Other OECD documents on France</h5>
			<a href="#" class="item">
				<img src="/assets/img/visuals/country/fr_book1.png"><br />
				Governance <br />at a Glance
			</a>
			<a href="#" class="item">
				<img src="/assets/img/visuals/country/fr_book1.png"><br />
				Governance <br />at a Glance
			</a>
			<a href="#" class="item">
				<img src="/assets/img/visuals/country/fr_book1.png"><br />
				Governance <br />at a Glance
			</a>
		</div>
	</div>
	<div id="cContact" class="span4 offset8">
		<p><strong><i class="icon-envelope"></i> contact: </strong></p>
		<p>
			<a href="mailto:jean.dufflot@innovation.france.fr?subject=more information about france">M. jean Dufflot 
			<br />
			<em>DGFIP</em></a></em>
		</p>
	</div>
</div>
{% endblock %}