{% block content %}
<div class="row">
	<div class="span8">
		<div class="white-block">
			<h3>Your innovations</h3>
			<table class="saved_innovations">
				<tr>
					<td class="inno"><h5><a href="/innovation/submit?logState=logged">Innovations</a></h5></td>
					<td class="state">saved</td>
				</tr>
				<tr>
					<td class="inno"><h5 class="title"><a href="/innovation/submit?logState=logged">Establishment of children’s day care centres</a></h5></td>
					<td class="state">saved</td>
				</tr>
				<tr>
					<td class="inno"><h5>New Way of Working</h5></td>
					<td class="state">submitted</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="span4">
		<div class="white-block">
			<p>
				to propose changes for submitted innovations please email <a href="mailto:opsi@oecd.org">opsi@oecd.org</a>.</p>
			</p>
		</div>
	</div>
</div>
{% endblock %}