{% block content %}
<div class="row">
	<div class="span8">
		<div class="white-block">
			<h3>Submitting an innovation</h3>
			<p><strong>The Observatory of Public Sector Innovation</strong> collects experiences of developing public sector innovations from practitioners working in the public sector. </p>
			<table id="process">
				<caption>Submitting an innovation to the Observatory is simple:</caption>
				<tr>
					<td><span class="procNum">1</span><br />
						<img src="/assets/img/visuals/submit_info/process/1_Register.png" alt=""><br />
						Register</td>
					<td><span class="procNum">2</span><br />
						<img src="/assets/img/visuals/submit_info/process/2_FillOut.png" alt=""><br />
							Complete and submit online form</td>
					<td><span class="procNum">3</span><br />
						<img src="/assets/img/visuals/submit_info/process/3_Review.png" alt=""><br />
						OECD review *</td>
					<td><span class="procNum">4</span><br />
						<img src="/assets/img/visuals/submit_info/process/4_Preview.png" alt=""><br />
						Preview</td>
					<td><span class="procNum">5</span><br />
						<img src="/assets/img/visuals/submit_info/process/5_Online.png" alt=""><br />
						Your innovation is published online</td>
				</tr>
			</table>
			<p class="notes">*National representatives to the OPSI project may also review a preview of your innovation.</p>
			
		</div>

	</div>
	<div class="span4">
		<div class="white-block">
			<p>If you currently work in the public administration in an OECD or key partner country and you would like to submit an example of an innovation to the Observatory please email <a href="mailto:opsi@oecd.org">opsi@oecd.org</a> providing:</p>
			<ul>
				<li>Your name</li>
				<li>Your country</li>
				<li>Your professional position</li>
				<li>The name of the organisation where you work</li>
				<li>The level of government of your organisation (i.e. central, state/regional or local government)</li>
				<li>The name of the innovation that you would like to submit</li>
			</ul>

			<p>If you do not work in a public administration where you country does not fit into one of the categories above, please contact the OPSI team at <a href="mailto:opsi@oecd.org">opsi@oecd.org</a>.</p>
		</div>
	</div>
</div>
{% endblock %}