/* [less, less/bootstrap, responsive-utilities.less] */
@-ms-viewport {
  width: device-width;
}
/* line 15, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.hidden {
  display: none;
  visibility: hidden;
}
/* line 23, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.visible-phone {
  display: none !important;
}
/* line 24, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.visible-tablet {
  display: none !important;
}
/* line 27, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.hidden-desktop {
  display: none !important;
}
/* line 28, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 33, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .hidden-desktop {
    display: inherit !important;
  }
  /* line 34, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .visible-desktop {
    display: none !important ;
  }
  /* line 36, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .visible-tablet {
    display: inherit !important;
  }
  /* line 38, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 44, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .hidden-desktop {
    display: inherit !important;
  }
  /* line 45, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .visible-desktop {
    display: none !important;
  }
  /* line 47, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .visible-phone {
    display: inherit !important;
  }
  /* line 49, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .hidden-phone {
    display: none !important;
  }
}
/* line 53, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
.visible-print {
  display: none !important;
}
@media print {
  /* line 57, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .visible-print {
    display: inherit !important;
  }
  /* line 58, /Users/ezka/Documents/WRK/ITN/OPSI/mockup_fc/less/bootstrap/responsive-utilities.less */
  .hidden-print {
    display: none !important;
  }
}
