{% block content %}
<div id="compare">
	<a class="backtothefuture" href="/innovation/search/">&laquo; go back to search results</a>
	<div class="compTitle">
		<div class="inAction pull-right">
					<a href="#" class="btn btn-small"><i class="icon-print"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/twitter.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/facebook.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/googleplus.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/linkedin.png"></i></a>
		</div>
		<h2>Compare Innovations</h2>
	</div>

<table width="100%" border="1">
  <tr>
    <th><span>Innovation</span></th>
    <th class="innovation-name">
      <a href="/innovation/page">New Way of Working</a>
      <a href="#" class="compare-remove pull-right"><i class="icon-remove-sign"></i></a>
    </th>
    <th class="innovation-name">
      <a href="/innovation/page">Out of Office</a>
      <a href="#" class="compare-remove pull-right"><i class="icon-remove-sign"></i></a>
    </th>
    <th class="innovation-name">
      <a href="/innovation/page">National eID</a>
      <a href="#" class="compare-remove pull-right"><i class="icon-remove-sign"></i></a>
    </th>
  </tr>
  <tr>
    <th><span>Country</span></th>
    <td><span><p>Belgium</p></span></td>
    <td><span><p>Belgium</p></span></td>
    <td><span><p>Estonia</p></span></td>
  </tr>
  <tr>
    <th><span>Level of Government</span></th>
    <td><span><p>Central</p></span></td>
    <td><span><p>Central</p></span></td>
    <td><span><p>Local</p></span></td>
  </tr>
  <tr>
    <th><span>Sector</span></th>
    <td><p>Social protection</p></td>
    <td><p>General public services</p>
    <p>Economic affairs</p></td>
    <td><p>Central Administration</p></td>
  </tr>
  <tr>
    <th><span>Description of Innovation</span></th>
    <td><p>Creation of a more dynamic workplace where new ways of working have been implemented to promote practices such as ‘desk sharing’, home working, result orientation and more flexible ways in which teams are structured and are working.</p>
    <p>Within the Federal Public Service Social Security (FPS SS) the employees are organisers of their own life. They are not told anymore when, where and how they have to work. Only results are evaluated.</p></td>
    <td><p>The innovation consists in the creation of an interfederal network of satellite work spaces all over the country. Its aims are the reduction of expensive office surfaces in Brussels by creating cheaper satellite work spaces in the regions as well as to stimulate interfederal contacts and collaboration. We hope to also reduce the ecological footprint and being an attractive employer by stimulating alternative ways of work organisation.</p></td>
    <td><p>Single authentication system used across a range of public services (e.g. transport, leisure and cultural institutions) and linked to some private sector services (e.g. banks, communications and utility operators)</p></td>
  </tr>
  <tr>
    <th><span>Keywords</span></th>
    <td class="tag-list"><span>Shared desk</span><span>teleworking</span><span>team evaluation</span></td>
    <td class="tag-list"><span>Satellite workplace</span></td>
    <td class="tag-list">&nbsp;</td>
  </tr>
  <tr>
    <th><span>What year was the innovation launched?</span></th>
    <td><p>2003</p></td>
    <td><p>2010</p></td>
    <td><p>2001</p></td>
  </tr>
  <tr>
    <th><span>Type of innovation</span></th>
    <td><p>It is a new way to organise or manage work within your organisation</p></td>
    <td><p>It is an entirely new or significantly new service or product, or an existing service provided to a new group of users</p>
    <p>It is a new way to communicate with service users</p></td>
    <td><p>It is a new process or approach for the design or delivery of existing services or products</p></td>
  </tr>
  <tr>
    <th><span>Results</span></th>
    <td><ul>
      <li><i class='icon-ok-sign'></i>Improved efficiency</li>
      <li><i class='icon-ok-sign'></i>Improved effectiveness</li>
      <li><i class='icon-ok-sign'></i>Improved service quality</li>
      <li><i class='icon-ok-sign'></i>Responsiveness</li>
      <li><i class='icon-ok-sign'></i>Other</li>
      </ul>
    <p><a class="more" href="/innovation/page#tab_results"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td>
    <ul>
    	<li><i class='icon-ok-sign'></i>Improved efficiency</li>
    	<li><i class='icon-ok-sign'></i>Improved user satisfaction </li>
    </ul>
    <p><a class="more" href="/innovation/page#tab_results"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td></td>
  </tr>
  <tr>
    <th><span>Which stage is your innovation currently in?</span></th>
    <td><p>Implementation</p>
    <p><a class="more" href="/innovation/page#tab_implementation"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td><p>Implementation</p>
    <p><a class="more" href="/innovation/page#tab_implementation"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td><p>Diffusion</p>
    <p><a class="more" href="/innovation/page#tab_implementation"><i class="icon-chevron-right"></i>Read more</a></p></td>
  </tr>
  <tr>
    <th><span>Which, if any, actors were partnered with?</span></th>
    <td><ul>
      <li><i class='icon-ok-sign'></i>Private sector</li>
      <li><i class='icon-ok-sign'></i>Other Public Sector</li>
    </ul>
    <p><a class="more" href="/innovation/page#tab_implementation"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td><ul>
      <li><i class='icon-ok-sign'></i>Other Public Sector</li>
    </ul>
    <p><a class="more" href="/innovation/page#tab_implementation"><i class="icon-chevron-right"></i>Read more</a></p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th colspan="4" scope="row"><p>Further Information</p></th>
  </tr>
  <tr>
    <th><span>What tools (e.g. ICTs, management approaches) were used to produce the innovation?</span></th>
    <td>
    	<p>The 5 NoVo programs were implemented respectively treating the aspects of :</p>
	      <ul>
	        <li><i class='icon-ok-sign'></i>HR and culture</li>
	        <li><i class='icon-ok-sign'></i>Dynamic office</li>
	        <li><i class='icon-ok-sign'></i>Digitalising</li>
	        <li><i class='icon-ok-sign'></i>Client orientation</li>
	        <li><i class='icon-ok-sign'></i>Communication and change management</li>
	      </ul>
	</td>
    <td><p>Employees were informed about the new project through different ways of internal communication systems.</p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><span>What resources (e.g. staff, budget) were used to produce the innovation?</span></th>
    <td><ul>
      <li><i class='icon-ok-sign'></i>Total investment of EUR 10 million, including all costs of the implementation of the new program.</li>
      <li><i class='icon-ok-sign'></i>11 FTE during three years responsible for implementation of the project.</li>
      <li><i class='icon-ok-sign'></i>Around 200 staff were supporting the implementation through workshops and volunteering</li>
      <li><i class='icon-ok-sign'></i>Several consultants helped with specific inputs such as interior design,  architecture and the culture survey</li>
      <li><i class='icon-ok-sign'></i>The lump sum investment of EUR 10 million was offset after 1.5 years by the saving of EUR 6 million per annum through reduction in office spaces.</li>
    </ul>    </td>
    <td><ul>
      <li><i class='icon-ok-sign'></i>As the implementation is still in the initial phase it is impossible to give an overview of the total costs for the organisations that are concerned</li>
      <li><i class='icon-ok-sign'></i>Major components of the costs-structure will be office spaces, furniture and ICT infrastructure</li>
      <li><i class='icon-ok-sign'></i>Unused office spaces and furniture were used for some of the new work places.</li>
      <li><i class='icon-ok-sign'></i>Our mail system provider (Lotus Notes) was able to provide a reservation system. </li>
    </ul>    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
{% endblock %}