{% block content %}
<div id="innovation-page" class="row">
	<div class="span12">
		<a class="backLink" href="/innovation/search/">&laquo; go back to search results</a>
		<div class="row">
			<div class="innoHeader white-block">
				<div class="span8">
					<h2>New Way of Working</h2>
					<p>In order to attract and retain talented employees, the Federal Social Security Service in Belgium has created more dynamic working conditions (e.g. desk sharing, teleworking) and moved towards results based management.</p>
				</div>
				<div class="span4">
					<img class="innoVignette" src="/assets/img/visuals/home_slider/nwow.png" />
				</div>
			</div>
		</div>
 		
 		<div class="row">
			<div class="span4 pull-right">

				<div class="inAction">
					<a href="#" class="btn btn-small"><i class="icon-print"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/twitter.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/facebook.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/googleplus.png"></i></a>
					<a href="#" class=""><img src="/assets/img/GUI/icons/social/linkedin.png"></i></a>
				</div>
				<div class="well">
					<h5>An innovation provided by</h5>
					<p>
						<strong>Isabelle Tegenbos</strong><br />
						Isabelle.tegenbos@minsoc.fed.be<br />
						+32 496 46 06 89
					</p>
					<p>
						<strong>Barbara de Clippel</strong><br />
						Barbara.declippel@minsoc.fed.be<br />
						+32 497 40 96 52
					</p>
				</div>
				<div class="well">
					<p><strong>Organisation: </strong>Federal Public Service (FPS) Social Security</p>
					<p><strong>Country: </strong>Belgium</p>
					<p><strong>Level of government: </strong>Central government</p>
					<p><strong>Sector: </strong>Social protection</p>
					<p><strong>Type: </strong>a new way to organise or manage work within your organisation</p>
					<p><strong>Launched in: </strong>2001</p>
					<p><strong>Keywords: </strong>Shared desk, teleworking, team evaluation</p>
				</div>
			</div>
			<div class="tab-content span8">
				<ul id="tablist" class="nav nav-tabs">
				  <li class="active">
				    <a href="#description">Description</a>
				  </li>
				  <li><a href="#results">Results</a></li>
				  <li><a href="#implementation">Development</a></li>
				  <li><a href="#lessons">Lessons Learned</a></li>
				</ul>
				<div class="tab-pane active" id="description">
					<p>Creation of a more dynamic workplace where new ways of working have been implemented to promote practices such as &laquo;desk sharing&raquo;, home working, result orientation and more flexible ways in which teams are structured and are working. Within the Federal Public Service Social Security (FPS SS) the employees are organisers of their own life. They are not told anymore when, where and how they have to work. Only results are evaluated. Our business objective was to become a sexy and sustainable federal public service in order to achieve three main HR challenges: to find talented people, to retain the right people and to make our people happy.</p>

					<h4>Why the innovation was developed</h4>
					<p>The FPS Social Security needs to attract motivated and talented staff and offer a pleasant work climate. In 2005 the FPS Social Security faced a new challenge: how to find and retain the staff it needed. The gap between the number of people leaving the labour market and the young ones entering it will get bigger by 2020.vPreviously, we could convince with job security and a state pension. Nowadays, many young people choose rather an employer than a job. Retaining of current employees and recruitment of new staff were the main reasons for introducing this project in our organisation. </p>
					<h4>Objectives</h4>
					<ul>
						<li>Changing our organisation culture through value driven people management and a result oriented approach</li>
						<li>Digitalizing our work processes and encouraging E-working</li>
						<li>Implementing a dynamic office where no one has his own desk and where the well-being of our people comes first  </li>
						<li>Studying the satisfaction of our clients and improving our global accessibility</li>
						<li>Guiding our people in this change process and applying a transparent and open communication policy</li>
					</ul>

					<h4>Main beneficiaries</h4>
					<ul>
						<li>Our own staff (+/- 1200 employees)
						<li>Our B2B partners
						<li>Our clients (e.g. people with a handicap, local social workers, &hellip;) benefitting from higher productivity and efficiency of the FPS SS
					</ul>

					<h4>Existing similar practices</h4>
					<p>Telework already exists in several federal public services. Some are also experimenting new ways of working like culture shift, dynamic office, no time clock.</p>

				</div>
				<div class="tab-pane" id="results">
					<h4>Efficiency</h4>
					<ul>
						<li>30% reduction in office space saves federal government 6 million Euros each year
						<li>A 55% reduction in the use of paper for printing
						<li>An 88% reduction in the number of printers: from 450 to 50
						<li>A 60% reduction in office furniture expenditure
						<li>A 22% reduction of paper-based archives and documents
					</ul>
					<h4>Effectiveness</h4>
					<ul>
						<li>Bi-annual 180 degree evaluation of all mangers by their subordinates with approx. 50% of employees participating in the evaluation</li>
						<li>Coaching of 50 managers to improve their leadership competences</li>
					</ul>
					<h4>Service quality</h4>
					<p><strong>Responsiveness: </strong>Productivity increased e.g. faster decisions by more than 20% on interventions concerning people with a handicap</p>
					<h4>Other improvements</h4>
					<p>Improved employee satisfaction:</p>
					<ul>
						<li>Young graduates opt more for our organisation within the federal administration: from rank 10 in 2005 to top 3 in 2009 </li>
						<li>Lower turnover rate: 4.36% in 2008 and 4.77% in 2009 (federal average = 10.7%)</li>
						<li>Lower absence rate (5.47% in 2009) in comparison to federal average (5.67%)</li>
						<li>Satisfaction rate is 88%</li>
						<li>Benchmark to 14 federal institutions, our people are most happy</li>
					</ul>

				</div>
				<div class="tab-pane" id="implementation">
					<h4>Testing</h4>
					<ul>
						<li>2007: Test of the dynamic office concept and stop of time clock, 45 persons from 3 different services </li>
						<li>2005-2007: Board members and some staff members (60 in total) are using teleworking</li>
						<li>Creation of five so called NoVoTeams  to implement the new strategy</li>
					</ul>

					<h4>Implementation</h4>
					<p><strong>Tools used: </strong></p>
					<p>The 5 NoVo programs were implemented respectively treating the aspects of :</p>
					<ul>
						<li>HR and culture</li>
						<li>Dynamic office</li>
						<li>Digitalising</li>
						<li>Client orientation</li>
						<li>Communication and change management</li>
					</ul>
					<p><strong>Resources used: </strong></p>
					<ul>
						<li>Total investment of EUR 10 million, including all costs of the implementation of the new program. </li>
						<li>11 FTE during three years responsible for implementation of the project. </li>
						<li>Around 200 staff were supporting the implementation through workshops and volunteering</li>
						<li>Several consultants helped with specific inputs such as interior design,  architecture and the culture survey</li>
						<li>The lump sum investment of EUR 10 million was offset after 1.5 years by the saving of EUR 6 million per annum through reduction in office spaces.</li>
					</ul>

					<h4>Diffusion</h4>
					<p></p>
					<p>Implement time: 3 years</p>
					<h4>Partnerships</h4>
					<p>Public Sector:</p>
					<ul>
						<li>Office for Real Estate of the public service: supporting role in elaboration of dynamic office concept</li>
						<li>General Kingdom Archives: supporting role in project document management, took over valuable archives from us </li>
						<li>FPS Personnel &amp; Organisation: support for result oriented aspect, as for proposing tools for realisation of surveys with accompanying analyses.</li>
					</ul>
					<p>Private Sector:</p>

					<p>Several consultants were associated for the change process, but the input of consultants remained limited (e.g. interior design and architecture, culture survey&hellip;)

					</p>

				</div>
				<div class="tab-pane" id="lessons">
					<p><strong>Lessons Learned: </strong></p>
					<ul>
					<li>Change management is the biggest challenge. </li>
					<li>Communication matters: You communicate easily too much or not enough or too late. You need always to search for a right balance.</li> 
					<li>The involvement of and listening to employees was a key factor of success for the project.</li> 
					<li>Clear vision and strategy coming from the top of the FPS.</li>
					</ul>


				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	// Javascript to enable link to tab
	var hash = document.location.hash;
	var prefix = "tab_";
	if (hash) {
	    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
	} 

	// Change hash for page-reload
	$('.nav-tabs a').on('shown', function (e) {
	    window.location.hash = e.target.hash.replace("#", "#" + prefix);
	});

	$('#tablist a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
</script>
{% endblock %}